{% if not title %}
{% set title="New thread" %}
{% endif %}

{% extends "base.html" %}

{% block content %}

<form method=POST>
        {% for field in form %}
        <p>
                {% if not field.flags.hidden %}
                {{ field.label }}<br>

                {% for fieldError in field.errors %}
                <strong>{{ fieldError }}</strong>
                {% endfor %}
                {% endif %}

                {{ field }}
        </p>
        {% endfor %}
        <input type="submit" name="submit_button" value="Submit thread">
</form>

{% endblock content %}